.navbar {
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 100px;
  background-color: white;
}

.navbar ul {
  display: flex;
  list-style: none; 
  padding: 0;  
  margin: 0;
}

.navbar li {
  margin: 0 15px; 
}

.navbar a {
  text-decoration: none;  
  color: black;  
  font-weight: bold;
}

.logo-nav {
  width: 50px;  
  height: auto;  
}

.hr-nav {
  height: 5px;
  background-color: black; 
  border: none;  
  margin: 10px 0; 
}
