* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lilita One", sans-serif;
  width: 100vw;
  overflow-x: hidden; 
}

/* Cambiar el cursor a un coraz贸n en toda la p谩gina */
body {
  cursor: url('src/assets/logo-nav.png'), auto;
}

/* MEN DE NAVEGACIN */
.navbar {
  width: 100%;
  padding: 15px 20px;
}

.navbar nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navbar .left,
.navbar .right {
  display: flex;
  gap: 60px;
}

.navbar .left {
  margin-left: 10%;
}

.navbar .right {
  margin-right: 10%;
}

.navbar .logo-nav {
  width: 80px;
  height: auto;
}

.navbar nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.navbar nav ul li a:hover {
  color: white; /* Color del texto cuando pase el rat贸n */
  background-color: pink; /* Fondo rosa */
  border-radius: 50%; /* Hacer el borde circular */
  padding: 20px 20px; /* Ampliar el padding para hacer el c铆rculo m谩s grande */
  transition: all 0.3s ease; /* Transici贸n suave */
}

/* L铆nea de separaci贸n */
.hr-nav {
  height: 5px;
  background-color: black;
  border: none;
  margin: 10px 0;
}

/* COLLAGE */
.collage {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  grid-template-rows: repeat(2, auto); /* 2 filas */
  margin: auto;
}

.collage-item {
  position: relative;
  overflow: hidden;
}

.collage img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

/* Overlay de texto al pasar el rat贸n */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
}

.collage-item:hover .overlay {
  opacity: 1;
}

/*  RESPONSIVE DESIGN */

/* Para tablets (m谩x. 768px) */
@media screen and (max-width: 768px) {
  .navbar nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navbar .left,
  .navbar .right {
    flex-direction: column;
    gap: 5px;
    margin: 0%;
    align-items: center;
  }

  .collage {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-template-rows: repeat(4, auto); /* 4 filas */
  }
}

/* Para m贸viles (m谩x. 480px) */
@media screen and (max-width: 480px) {
  .collage {
    grid-template-columns: repeat(2, 1fr); /* 1 columnas */
    grid-template-rows: repeat(8, auto); /* 8 filas */
  }

  .navbar nav ul {
    flex-direction: column;
  }

  .navbar .logo-nav {
    width: 60px;
  }
}
